/***********
REGISTER PAGE
************/
/*body and general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
}
input,
select {
	border: 1px solid rgb(6, 30, 32) !important;
	padding: 0.5rem 1rem;
	outline: 0;
	border-radius: 0.3rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
	max-width: 100%;
}
button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	outline: none;
	border: 0;
}
a {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;
}

/*****
SECTION CONTAINING THE FORM
******/
.container {
	min-height: 90vh;
	display: grid;
	place-items: center;
}
.hi h6 {
	margin-bottom: 4rem;
	text-transform: capitalize;
	font-size: 27px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	padding: 9px;
	letter-spacing: 1px;
	text-align: center;
	color: rgba(14, 48, 14, 0.952);
}

.form {
	width: 75%;
	margin: auto;
	padding: auto;
	overflow: auto;
}

.form form {
	width: 100%;
	margin: auto;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 7px 15px 9px 15px;
	overflow: auto;
	margin-bottom: 20px;
}

/***First half of the form***/
.form .section-1 {
	width: 30%;
	float: left;
	margin: auto 15px auto auto;
	padding: 0px 7px 5px 7px;
}

.form .section-1 div {
	width: 100%;
	margin-top: 8px;
}

.form .section-1 div label {
	text-transform: capitalize;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 17px;
	font-weight: 500;
}

.form .section-1 div input[type='email'] {
	text-transform: lowercase;
}

.form .section-1 div label {
	text-transform: capitalize;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form .section-1 div input {
	width: 100%;
	height: 30px;
	/* padding: 3px; */
	margin-top: 5px;
	text-transform: capitalize;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form .section-1 div input:focus {
	background-color: white;
	border: 1px solid grey;
}

/***Second half of the form***/
.form .section-2 {
	width: 30%;
	float: left;
	margin: auto auto auto 15px;
	padding: 0px 7px 5px 7px;
}

.form .section-2 div {
	width: 100%;
	margin-top: 8px;
}

.form .section-2 div label {
	text-transform: capitalize;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 17px;
	font-weight: 500;
}

.form .section-2 div input {
	width: 100%;
	/* padding: 3px; */
	/* height: 30px; */
	margin-top: 5px;
	text-transform: capitalize;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form .section-2 div input:focus {
	background-color: white;
	outline: none;
	border: 1px solid grey;
}

.gender--container {
	width: 50% !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align-items: center; */
}

.gender--container div {
	display: flex;
	/* flex-direction: column;*/
	justify-content: flex-start;
	align-items: center;
}
input[type='checkbox'] {
	width: 20px !important;
	margin-right: 0.5rem;
	margin-block: 0 !important;
}
.form .section-2 .male {
	font-size: 15px;
	text-transform: capitalize;
}

.form .section-2 .female {
	font-size: 15px;
	text-transform: capitalize;
}

.form #products {
	width: 100%;
	margin-top: 15px;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	letter-spacing: 1px;
	padding: 5px;
}

.form .section-3 {
	width: 30%;
	float: left;
	margin: auto auto auto 15px;
	padding: 0px 7px 5px 7px;
}

.form .section-3 div {
	width: 100%;
	margin-top: 8px;
}

.form .section-3 div label {
	text-transform: capitalize;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 17px;
	font-weight: 500;
}

.form .section-3 div input {
	width: 100%;
	height: 30px;
	padding: 3px;
	margin-top: 5px;
	text-transform: capitalize;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form .section-3 div input:focus {
	background-color: white;
	outline: none;
	border: 1px solid grey;
}

.form .submit {
	text-align: center;
	width: 12%;
	float: center;
	text-transform: capitalize;
	background-color: rgba(52, 92, 52, 0.952);
	padding: 5px;
	margin-top: 18px;
	font-size: 21px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	border-radius: 5px;
	color: white;
	margin-left: 45%;
}
@media screen and (max-width: 690px) {
	.form .section-1,
	.form .section-2,
	.form .section-3 {
		width: 100% !important;
		margin: 0 !important;
		padding-inline: 0.8rem;
	}
	.form .submit {
		width: 100%;
		margin-left: 0;
	}
	.gender--container {
		width: 50% !important;
		display: flex;
		justify-content: flex-start;
	}
	.gender--container div {
		display: flex;
		align-items: center;
	}
}

.form .submit:hover {
	cursor: pointer;
}

/**************
CUSTOMER SIGNUP FORM
****************/
.error {
	background-color: rgba(43, 117, 43, 0.952);
	color: white;
	padding: 7px;
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	letter-spacing: 1px;
	border-radius: 5px;
}

.sects .sect-1,
.sects .sect-2 {
	width: 45%;
	padding: 5px;
	padding-top: 1px;
	float: left;
	margin-right: 5px;
}

@media screen and (max-width: 640px) {
	.sects .sect-1,
	.sects .sect-2 {
		width: 100%;
	}
}

.sect-1 div {
	margin-bottom: 6px;
}

.sect-1 label {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	font-weight: 499;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.sect-1 input {
	width: 100%;
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 3px;
}

.sect-1 input[type='email'] {
	text-transform: lowercase;
}

.sect-1 input:focus {
	outline: none;
	outline-offset: 0;
	border: 2px solid rgba(14, 48, 14, 0.952);
}

.sect-2 div {
	margin-bottom: 6px;
}

.sect-2 label {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	font-weight: 499;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.sect-2 input,
.sect-2 select {
	width: 100%;
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 2px;
}

.sect-2 option {
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sect-2 input:focus,
.sect-2 select:focus {
	outline: none;
	outline-offset: 0;
	border: 1px solid rgba(14, 48, 14, 0.952);
}
