/*body and general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	overflow-x: hidden;
	min-width: 100%;
}
img {
	max-width: 100%;
}

input {
	width: 100%;
	border: none;
	outline: none;
}
button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	outline: none;
	border: 0;
}
a {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;
}

/*crop*/
.slideshow {
	/* background-color: #c7d3d4ff; */
	/* padding-bottom: 5px; */
	display: flex;
	width: 100%;
}

/* .slideshow .crop {
	width: 25%;
	float: left;
	margin: auto 5px;
	background-color: lavender;
	padding: 10px;
	border: none;
	border-radius: 3px;
} */

/* .slideshow .crops li {
	padding: 3px;
	position: relative;
	left: auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	list-style-type: none;
	font-size: 15.5px;
} */

/* .crops h6 {
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: capitalize;
	font-size: 20px;
	letter-spacing: 1px;
} */

/* .crop ul a {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;
	color: darkgreen;
	cursor: pointer;
	float: right;
	padding: 5px;
	font-size: 19px;
} */

/* .crop ul a:hover,
.crop ul a:focus,
.crop ul a:active {
	text-decoration: underline;
}

.crop ul a:visited {
	color: darkslategray;
	text-decoration: underline;
} */

/*Photo gallery section*/
/*This section shows the slideshow after the navbar*/
.slide {
	width: 100%;
	float: left;
	margin: 0 5px;
	position: relative;
}
.slide img {
	max-width: 100% !important;
	object-fit: cover;
}

/*the previous and next buttons on the slideshow*/
.slide .prev,
.slide .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/*text on the slideshow*/
.text {
	padding: 8px 12px;
}

.text-0 {
	color: white;
	width: 25%;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	position: absolute;
	bottom: 19%;
	left: 3%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-1 {
	position: absolute;
	width: 30%;
	bottom: 10%;
	left: 3%;
}

.text-1 a {
	text-transform: capitalize;
	font-size: 20px;
	color: khaki;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-1 a:hover,
.text-1 a:active,
.text-1 a:focus {
	text-decoration: underline;
}

.text-2 {
	position: absolute;
	right: 3%;
	width: 30%;
	bottom: 10%;
	color: khaki;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}

.text-3 {
	display: none;
}

.text-4 {
	position: absolute;
	top: 10%;
	left: 3%;
	width: 60%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: maroon;
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: 500;
}

.text-5 {
	position: absolute;
	top: 10%;
	right: 3%;
	width: 70%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: darkolivegreen;
	font-size: 23px;
	letter-spacing: 1px;
	font-weight: 500;
}

/*dots showing transition*/
.dot {
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/*Fading Animation*/
.photo {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	width: 100%;
	overflow: auto;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.photo img {
	width: 100%;
	height: 450px;
}

.slideshow .animal {
	width: 22%;
	float: left;
	margin: auto 5px;
	background-color: lavender;
	padding: 10px;
	border: none;
	border-radius: 3px;
}

.slideshow .animals li {
	padding: 3px;
	position: relative;
	left: auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	list-style-type: none;
	font-size: 15.5px;
}

.animal h6 {
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: capitalize;
	font-size: 20px;
	letter-spacing: 1px;
}

.animal ul a {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;
	color: darkgreen;
	cursor: pointer;
	float: right;
	padding: 5px;
	font-size: 19px;
}

.animal ul a:hover,
.animal ul a:focus,
.animal ul a:active {
	text-decoration: underline;
}

.animal ul a:visited {
	color: darkslategray;
	text-decoration: underline;
}

/**GROUPS*/
/*cereals*/
.groups {
	background-color: lavender;
	display: flex;
	flex-direction: column;
}

.cereals,
.roots {
	background-color: white;
}
.slope,
.sleek,
.slant,
.slay {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 100%;
	margin-inline: auto;
	justify-content: center;
	align-items: center;
	padding-block: 2rem;
}
.cereal,
.root-bulb {
	width: 280px;
	position: relative;
}
/* vegetables */

.vegetable,
.pet-and-meat {
	width: 280px;
	position: relative;
	background-color: white;
}

.groups .extra {
	background-color: inherit;
}

.groups .extra a {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 25px;
	cursor: pointer;
	color: darkgreen;
	text-decoration: none;
	padding: 5px;
	/* float: left; */
}

.groups .extra a:hover,
.groups .extra a:focus,
.groups .extra a:active {
	text-decoration: underline;
}

.groups .extra a:visited {
	color: darkslategray;
	text-decoration: underline;
}

.groups img {
	width: 100%;
	height: 225px;
}

.groups .foodname {
	text-transform: capitalize;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
}

.groups .foodname:hover,
.groups .foodname:visited {
	cursor: pointer;
	text-decoration: underline;
}

.groups h6 {
	font-size: 25px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 5px;
	text-transform: capitalize;
	font-weight: 500;
	margin-left: 2px;
}
